# .github/workflows/tf-ci.yml
name: Terraform CI

on:
  workflow_dispatch:
    inputs:
      analytics_account:
        required: true
        type: string

      is_sa_automation:
        required: true
        type: boolean
        
jobs:
  trigger_cd:
    name: 2. Trigger Terraform CD Workflow (tf-cd.yml)
    # needs: [ci_job_name] 
    runs-on: ubuntu-latest
    if: success()
    steps:
      - name: Call Terraform CD Workflow
        uses: actions/github-script@v7
        with:
          script: |
            // Przekazujemy wszystkie wejścia, aby zachować kontekst
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'tf-cd.yml', 
              ref: 'main',
              inputs: {
                analytics_account: '${{ github.event.inputs.analytics_account }}',
                is_sa_automation: '${{ github.event.inputs.is_sa_automation }}'
              },
            });
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
