name: Terraform PR

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.tf'
      - '**/*.tfvars'
      - '**/*.yaml'
      - '**/*.yml'
      - '**/*.json'
      - '**/*.hcl'
      - '.github/workflows/**'
  workflow_dispatch:
  
  
jobs:
  check-duplicates:
    name: Check Duplicates in json
    runs-on: traffic-runners
    steps:
      - uses: actions/checkout@v6

      - name: Check if secret_engines_secrets.json changed
        id: check-changes
        run: |
          if git diff --name-only origin/main...HEAD | grep -q "secret_engines_secrets.json"; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Check for duplicate keys
        if: steps.check-changes.outputs.changed == 'true'
        run: |
          duplicates=$(jq -r '.["traffic-team"], .["traffic-team-americas"], .["traffic-team-analysts"], .["traffic-team-dev"], .["common-secrets"], .["traffic-team-tos"] | keys_unsorted[]' ./secret_engines_secrets.json | sort | uniq -d)
          if [ -n "$duplicates" ]; then
            echo "Duplicate keys found:"
            echo "$duplicates"
            pwd
            ls
            exit 1
          else
            echo "No duplicate keys found."
          fi

  # terraform-ci-g03:
  #   name: Terraform CI - Test (g03)
  #   uses: RTBHouse-Traffic/common-workflows/.github/workflows/tf-ci.yml@main
  #   needs: check-duplicates
  #   with:
  #     pr_number: ${{ github.event.pull_request.number }}
  #     tf_var_file: "environments/traffic-g03.tfvars"
  #     tf_init_custom_options: "-backend-config=backend-g03.conf"
  #   permissions:
  #     id-token: write
  #     issues: write
  #     contents: read
  #     pull-requests: write
  #     actions: read
  #   secrets: inherit

  # terraform-ci-g00:
  #   name: Terraform CI - Production (g00)
  #   uses: RTBHouse-Traffic/common-workflows/.github/workflows/tf-ci.yml@main
  #   needs: check-duplicates
  #   with:
  #     pr_number: ${{ github.event.pull_request.number }}
  #     tf_var_file: "environments/traffic-g00.tfvars"
  #     tf_init_custom_options: "-backend-config=backend-g00.conf"
  #   permissions:
  #     id-token: write
  #     issues: write
  #     contents: read
  #     pull-requests: write
  #     actions: read
  #   secrets: inherit
